
          <div class="page-wrapper" ng-controller="MCQ-QuizController">

        <ul class="unstyled">
      <li ng-repeat="question in questions">
       <strong class="question">{{ question.Quest_no }}</strong>
       <ul class="unstyled" id="quest_{{$parent.$index}}">
        <li ng-repeat="answer in question.answers">
          <label class="isCorrect_{{answer.selected}}" for="quest_{{$parent.$index}}_answer_{{$index}}">
            <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}" 
            ng-model="answers[$parent.$index]" value="{{ answer.options }}"  name="quest_{{$parent.$index}}_answers" />{{ answer.options }}</label>
        </li>
       </ul>
      </li>
    </ul>
    <button class="btn" type="submit" ng:click="showResult()">Submit</button>
  <div class="well">
    <p>you got {{ ans_count }} out of {{questions.length}} right</p>
    
  </div>
  </div>